.layout {
  @apply grid h-screen;
  grid-template:
    'navbar' 3.5rem
    'main' 1fr
    'footer' 2.5rem;
}

.layout > navbar {
  grid-area: navbar;
}

.layout > main {
  grid-area: main;
  @apply overflow-y-auto;
}

.layout > footer {
  grid-area: footer;
}
