.layout {
  display: grid;
  grid-template:
    "navbar" 2.5rem
    "main" 1fr
    "footer" 2rem;
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
  @apply px-3;
}

.footer {
  grid-area: footer;
}
