.layout {
  @apply h-screen grid;
  grid-template:
    "navbar" 2.5rem
    "main" 1fr
    "footer" 1.5rem;
}

.layout > navbar {
  grid-area: navbar;
}

.layout > main {
  grid-area: main;
  @apply px-3;
  @apply overflow-y-auto;
}

.layout > footer {
  grid-area: footer;
}
